.inputContainer {
	display: flex;
	flex-direction: row;
}

.calContainer {
	margin: 10px;
	width: 250px;
	height: 225px;

	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header {
	box-sizing: border-box;
	height: 30%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px;
}

.backMonth,
.forwardMonth {
	font-family: sans-serif;
	cursor: pointer;
	font-weight: bold;
	user-select: none;
	line-height: 60px;
	width: 20px;
	text-align: center;
}

.monthDisplay {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: sans-serif;
	user-select: none;
}

.calBody {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dayDisplay {
	font-family: sans-serif;
	font-size: 12px;
	color: #bbb;
	padding-top: 10px;
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.dayDisplay > * {
	width: 14%;
	text-align: center;
	user-select: none;
}

.dates {
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.dates > * {
	width: 14%;
	text-align: center;
	padding: 3px 0;
	font-size: 12px;
	user-select: none;
}

.selectable {
	cursor: pointer;
}

.selectable:hover {
	background-color: #eee;
	border-radius: 12px;
}

.selected {
	background-color: #eee;
	border-radius: 12px;
}
