.container {
    display: flex;
    flex-direction: column;
    width: auto;

    margin: 4px 0;
}

.container > span {
    padding: 0 4px;
	margin: 0;
    line-height: 0;
}

.errorMsg {
    padding-left: 4px;
    font-family: sans-serif;
}
