.container {
    display: flex;
    flex-direction: column;
    width: auto;

    margin: 4px 0;
}

.container > label {
    padding: 0 4px;
    line-height: 0;
}

.input[type=text],
.input[type=password],
.input[type=email]
.input[type=number],
.input[type=search],
.input[type=tel],
.input[type=url] {
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #eee;
    border-radius: 8px;
    outline: none;

    transition: .3s ease-in-out;
}


.input::placeholder,
.input::-webkit-input-placeholder {
    color: rgb(199, 199, 199);
}